{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Inscription</h1><hr><br>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstname,{'attr': {'class': 'form-control'}}) }}
        {{ form_row(registrationForm.lastname,{'attr': {'class': 'form-control'}}) }}
        {{ form_row(registrationForm.email,{'attr': {'class': 'form-control'}}) }}
        {{ form_row(registrationForm.plainPassword,{'attr': {'class': 'form-control'}}, {
            label: 'Password',
        }) }}
        {{ form_row(registrationForm.number,{'attr': {'class': 'form-control'}}) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <br>
        <button type="submit" class="btn btn-lg btn-primary">Créer un compte</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
