{% extends 'base.html.twig' %}

{% block title %}Parcours{% endblock %}

{% block body %}
    {% if app.user %}
<div class="container" style="margin-top: 3%">
        <h1 class="ml-5">Choisis un parcours !</h1>
    <div class="row d-flex justify-content-center">
        <div class="col">
            {% for parcour in parcours %}

                            <a href="{{ path('parcours_show', {'id': parcour.id}) }}" class="btn">
                            <div class="card" style="width: 18rem;">
                                <img src="{{asset('images/upload/'~parcour.imageName)}}" class="card-img-top" alt="Image du parcour">
                                <div class="card-body">
                                    <h5 class="card-title">{{ parcour.name }}</h5>
                                    <p class="card-text">{{ parcour.description }}</p>
                                </div>
                            </div></a>


            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
        </div>
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(parcours) }}
        </div>
    </div>

    {% else %}
        <div>Accès refusé, vous n'êtes pas connecté</div>
    {% endif %}
    </div>
</div>
{% endblock %}
