{% extends 'base.html.twig' %}

{% block title %}Parcours{% endblock %}
{% block body %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    {% if app.user %}
<div class="container">
    <div class="container_parcour">
    {% for parcour in parcours %}
        <div id="latitude" data-is-latitude="{{ parcour.latitude|json_encode}}"></div>
        <div id="longitude" data-is-longitude="{{ parcour.longitude|json_encode }}"></div>
        <h1>Parcours {{ parcour.name }} </h1>
    {% endfor %}

    <div class="col">
    <h3>Carte interactive du sentier</h3>
    </div>

    <div id="map"></div>
    <table>
        <div id="points" data-is-points="{{ points|json_encode }}"></div>
    {% for point in points %}
        <a class="pull-left" id="{{ point.id }}">
            <div class="mb-3">
                <div class="row no-gutters perso">
                    <div class="col-md-4">
                        <img src="{{asset('images/upload/point/'~point.imageName)}}" class="card-img" alt="image du point">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ point.titre }}</h5>
                            <p class="card-text">{{ point.text|raw }}</p>
                            {% if point.url is not null %}
                            <video src="{{ point.url }}"></video>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {%  if point.soundName is not null %}
                    <div class="card-footer">
                        <audio controls src="{{asset('images/upload/point/sound/'~point.soundName)}}">
                        Your browser does not support the<code>audio</code> element.</audio>
                    </div>
                {% endif %}
            </div>
            <!--
        <div class="card mb-3">
            <img src="{{asset('images/upload/point/'~point.imageName)}}" class="card-img-top" alt="image du point">
            <div class="card-body">
                <h5 class="card-title">{{ point.titre }}</h5>
                <p class="card-text">{{ point.text|raw }}</p>
                <p class="card-text">
                    <audio controls src="{{asset('images/upload/point/sound/'~point.soundName)}}">
                        Your browser does not support the<code>audio</code> element.
                    </audio></p>
            </div>
        </div>--></a>

    {% endfor %}
    </table>
</div>
</div>
    {% endif %}

    {% block javascript %}{% endblock %}

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <script src="{{asset('js/map.js')}}"></script>
{% endblock %}


