{% extends 'base.html.twig' %}

{% block title %}Forestria{% endblock %}

{% block body %}

<section class="home" id="home">

    <div class="swiper home-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="box" style="background: url(../images/img6.jpg) no-repeat;">
                    <div class="content">
                        <span>Bienvenue sur</span>
                        <h3>Forestria  !</h3>
                        <p>Site regroupant plusieurs randonnées dans la ville de Limoges !</p>
                        
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="box second" style="background: url(../images/img1.jpg) no-repeat;">
                    <div class="content">
                        <span>Faites le tour !</span>
                        <h3>Parcours oiseaux</h3>
                        <p>Notre sentier cherche à recréer un lien entre l’homme et son environnement (faune et flore), pour en améliorer la cohabitation</p>
                        
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box third" style="background: url(../images/dechets.jpg) no-repeat;">
                    <div class="content">
                        <span>Faites le tour !</span>
                        <h3>Parcours déchets</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit unde ex molestias soluta consequatur saepe aliquam, excepturi delectus consequuntur minus!</p>
                        
                    </div>
                </div>
            </div>            
            <div class="swiper-slide">
                <div class="box fourth" style="background: url(../images/handicap.jpg) no-repeat;">
                    <div class="content">
                        <span>Faites le tour !</span>
                        <h3>Parcours Handicap</h3>
                        <p style="color:white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit unde ex molestias soluta consequatur saepe aliquam, excepturi delectus consequuntur minus!</p>
                        
                    </div>
                </div>
            </div> 
          

        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</section><br>
    <section class="category">

    <h1 class="heading">Choisis un parcours !</h1>

    <div class="box-container">
        <a name="parcours"></a>
        {% for parcour in parcours %}
        
    
        <div class="box">
            

                <a href="{{ path('parcours_show', {'id': parcour.id}) }}" class="btn">
                            
                        <img src="{{asset('images/upload/'~parcour.imageName)}}"  alt="Image du parcour">
                            
                            <h3> {{ parcour.name }}</h3>
                            <p> {{ parcour.description }}</p>
                    
                    </a>
                
        </div>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            
            
            <div class="navigation">
            {{ knp_pagination_render(parcours) }}
        </div>

    </div>
    </section>
             
   
{% endblock %}