{% extends 'base.html.twig' %}

{% block title %}Forestria{% endblock %}

{% block body %}

<section class="home" id="home">

    <div class="swiper home-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="box" style="background: url(../images/img1.jpg) no-repeat;">
                    <div class="content">
                        <span>Bienvenue sur le site</span>
                        <h3>Forestria</h3>
                        <p>regroupant plusieurs randonnées dans la ville de Limoges !</p>
                        
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="box second" style="background: url(../images/img5.jpg) no-repeat;">
                    <div class="content">
                        <span>make tour</span>
                        <h3>amazing</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit unde ex molestias soluta consequatur saepe aliquam, excepturi delectus consequuntur minus!</p>
                        
                    </div>
                </div>
            </div>

           

        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</section>
<div class="wrapper">
    <div class="container">
        <div class="col">
            {% for parcour in parcours %}

                <a href="{{ path('parcours_show', {'id': parcour.id}) }}" class="btn">
                    <div class="card" style="width: 18rem;">
                        <img src="{{asset('images/upload/'~parcour.imageName)}}" class="card-img-top" alt="Image du parcour">
                        <div class="card-body">
                            <h5 class="card-title">{{ parcour.name }}</h5>
                            <p class="card-text">{{ parcour.description }}</p>
                        </div>
                    </div></a>

            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
        </div>
        
        <div class="navigation">
            {{ knp_pagination_render(parcours) }}
        </div>
    </div>
   
{% endblock %}