{%block body%}
  <header class="header" id="header">

    <a href="{{ path('app_front') }}" class="logo"> <i class="fas fa-hiking"></i> Forestria. </a>

    <nav class="navbar" id="navbar">
        <div id="nav-close" class="fas fa-times"></div>
         <a  href="{{ path('app_front') }}"><i class="fas fa-home"></i> Accueil</a>
         <a  href="{{ path('app_front') }}#parcours"><i class="fas fa-map-signs"></i> Parcours</a>
         {% if app.user %}
                    <a  href="/user"><i class="fas fa-user"></i> Profil </a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a  href="/admin"><i class="fas fa-hammer"></i> Administration</a>
                    {% endif %}
                    <a  href="{{ path('app_logout') }}"><i class="fas fa-bed"></i> Logout</a>
                {% else %}
                    <a  href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt"></i> Login</a>
                    <a  href="{{ path('app_register') }}"><i class="fas fa-user"></i> Register</a>
                {% endif %}
    </nav>

    <div class="icons" id="icons">
        <div id="menu-btn" class="fas fa-bars"></div>
    </div>

</header>
{% endblock %}