{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    {% if app.user %}
<div class="container">
    <h1 class="display-4">Profil</h1>
    <div class="row">
        <div class="col-5">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ app.user.firstname |capitalize }}</h5>
                    <p class="card-text">
                        <label>E-mail : </label> {{ app.user.email }}<br>
                        <label>Prénom : </label> {{ app.user.firstname }}<br>
                        <label>Nom : </label> {{ app.user.lastname }}<br>
                        <label>Téléphone : </label> {{ app.user.number }}<br>
                        <label>Role : </label>{% if is_granted('ROLE_ADMIN')  %} Admin {% else %} Utilisateur {% endif %}
                    </p>
                    
                <a class="btn btn-warning" href="{{ app.user.id }}/edit"><i class="fas fa-edit"></i>Modifier</a>
                
            
                </div>
            </div>
        </div>
    </div>
</div>
    {% endif %}
{% endblock %}
