{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    {{ include('header.html.twig') }}
    {% if app.user %}
<div class="container">
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Number</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ app.user.email }}</td>
                <td>{{ app.user.firstname }}</td>
                <td>{{ app.user.lastname }}</td>
                <td>{{ app.user.number }}</td>
                <td>
                    <a href="{{ path('user_edit', {'id': app.user.id}) }}" class="btn btn-info">Modifier</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>
    {% endif %}
{% endblock %}
